@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;

  --gold: #c6a972;
  --muted: #a1a1aa;
  --soft-black: #0a0a0a;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-cormorant);
}

::selection {
  background: var(--gold);
  color: black;
}

* {
  cursor: none;
}